* {
  margin: 0;
  padding: 0; }

input,
textarea,
button {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

input:focus,
textarea:focus,
select:focus {
  outline: none; }

input[required=required],
textarea[required=required] {
  outline: none; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

body {
  background: #E5E5E5;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1;
  min-width: 320px;
  text-align: left;
  vertical-align: top;
  overflow-x: hidden; }

li {
  list-style: none; }

#products {
  padding-top: 97px;
  padding-bottom: 59px; }
  #products .title__products {
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    text-align: center; }
  #products .sub-title__products {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-top: 43px; }
  #products .item__product {
    background: #FFFFFF;
    padding: 49px 30px 30px 30px; }
    #products .item__product .title__item {
      font-weight: bold;
      font-size: 36px;
      line-height: 42px;
      color: #000000;
      text-align: center;
      margin-bottom: 40px; }
    #products .item__product .text__item {
      line-height: 21px;
      margin-top: 30px;
      margin-bottom: 20px; }
    #products .item__product .btn__item {
      width: 300px;
      height: 57px;
      background: #2CC34F;
      font-style: normal;
      font-weight: 900;
      line-height: 21px;
      color: #FFFFFF;
      border: none;
      cursor: pointer; }
      #products .item__product .btn__item:hover {
        background: #22943C; }
    #products .item__product .price__item {
      font-weight: 900;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      margin-bottom: 20px; }
  #products .items__product {
    margin-top: 80px; }

#general_price {
  min-height: 162px;
  background: #FFFFFF;
  padding-top: 60px; }
  #general_price .price .title__price {
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #000000; }
  #general_price .price .cost__price {
    font-weight: 900;
    font-size: 34px; }
    #general_price .price .cost__price span {
      color: red; }
